aiohttp==3.7.4.post0
ansicon==1.89.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==3.0.1
asyncpg==0.23.0
attrs==21.2.0
bandit==1.7.0
blessed==1.18.1
braceexpand==0.1.7
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
flake8-annotations==2.6.2
flake8-bandit==2.1.2
flake8-docstrings==1.6.0
flake8-isort==4.0.0
flake8-polyfill==1.0.2
gitdb==4.0.7
GitPython==3.1.18
humanize==3.10.0
identify==2.2.10
idna==3.2
import-expression==1.1.4
isort==5.9.2
jinxed==1.1.0
jishaku==2.2.0
keyboard==0.13.5
mccabe==0.6.1
multidict==5.1.0
nodeenv==1.6.0
pbr==5.6.0
pre-commit==2.13.0
py-cord @ git+https://github.com/Pycord-Development/pycord@b05b0835c6603d542a79b1aef45dfe116c9d6d48
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
Pygments==2.9.0
pynput==1.7.3
PyYAML==5.4.1
requests==2.26.0
rich==10.5.0
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
stevedore==3.3.0
testfixtures==6.17.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.4.7
wcwidth==0.2.5
yarl==1.6.3
